<style>
    #results{
        height: 600px;
        overflow: auto;
    }
</style>


<canvas id="converter-canvas" style="display: none;"></canvas>

<div class="container">

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>

    <div id="results" class="well"></div>
</div>

<!--Libs-->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/lodash.js"></script>
<script src="/assets/js/poly2tri.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/babylon.2.3.max.js"></script>
<script src="/assets/js/babylon-loaders/babylon.objFileLoader.js"></script>
<script src="/assets/js/babylon-serializers/babylon.objSerializer.js"></script>

<!--App-->
<script src="/build/shared.js"></script>
<script src="/build/converter.js"></script>

