

<div class="container">
    <h1>{{title}}</h1>

    <ul>
        <li>
            <a href="/map">Карта</a>
        </li>
        <li>
            <a href="/converter">Конвертер</a> (конвертирование данных OSM в данные map-babylon)
        </li>
    </ul>

</div>



